.heading h2{
    margin-left: 10px;
}

.screen{
    margin: auto;
    background-color: #c0c0c0;
    height: 330px;
    width: 210px;
}

.screen input{
    margin-top: 10px;
    margin-left: 15px;
    padding-top: 10px;
    border-color: grey;
    box-shadow: 2px 2px grey;
    
    border-style: hidden ;
}