@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


.heading h2{
    font-family: 'Oswald',sans-serif;
}

.calc{
    margin: auto;
    background-color: #c0c0c0;
    height: 330px;
    width: 210px;
    border-radius: 10px;
}

.calc .screen{
    
    margin-left: 20px;
    padding-top: 10px;
    border-color: grey
    border-style: hidden ;
}
.calc .buttons{

    margin-top: 10px;
    margin-left: 15px;
    padding-top: 10px;
    border-color: grey;
    display: inline-block;
    outline: 0;
    border: 0;
    border-style: hidden ;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms,background 200ms;
    background: transparent;
    color: #000000;
    box-shadow: 0 0 0 3px #000000 inset;

}
.calc .buttons:hover{
    transform: translateY(-2px);
}











